.title {
  font-size: 3rem;
  letter-spacing: 15px;
  font-family: var(--lexend);
  text-transform: uppercase;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.universityParagraph {
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 128px;
  letter-spacing: 5px;
  line-height: 50px;
  font-weight: 500;
  font-family: var(--lexend);
  text-transform: uppercase;
  left: 50%;
  right: 50%;
  width: 100%;
  transform: translate(-50%, -50%) !important;
}

.unlam {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}